In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

from sklift.metrics import uplift_at_k
from sklift.viz import plot_uplift_preds
from sklift.models import SoloModel
from sklift.models import TwoModels

from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import GradientBoostingClassifier
from sklift.datasets import fetch_lenta
from sklearn.model_selection import train_test_split


from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline, FeatureUnion, make_pipeline

import dill

dill._dill._reverse_typemap['ClassType'] = type

In [11]:
X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")
treat_test = pd.read_csv('treat_test.csv')

In [12]:
X_test.head()

,gender,age,main_format,children,crazy_purchases_goods_count_6m,k_var_cheque_group_width_15d,promo_share_15d
0,Ж,44.0,0,1.0,0.0,NaN,0.3727
1,Ж,56.0,0,2.0,2.0,0.0000,0.0000
2,Ж,41.0,0,0.0,0.0,0.0000,0.0000
3,М,27.0,0,0.0,0.0,0.6600,0.5260
4,Ж,29.0,0,0.0,2.0,0.3111,0.5533

In [13]:
with open('solomodel_pipeline.dill', 'rb') as in_strm:
    pipeline = dill.load(in_strm)

Сделаем предсказание uplift для всех тестовых данных

In [14]:
sm_predictions = pipeline.predict(X_test)

In [15]:
sm_predictions[0]

0.004274348081235113

Посчитаем метрику uplift@30%

In [16]:
sm_30 = uplift_at_k(y_test, sm_predictions, treat_test, strategy='by_group')
print(f'uplift@30%: {sm_30:.4f}')

uplift@30%: 0.0063